/* 列表页的css */

.sk {
    position: absolute;
    top: 40px;
    left: 185px;
    height: 32px;
    border-left: 2px solid #b1191a;
    padding: 5px 0 0 15px;
}

.sk-list li {
    float: left;
    height: 45px;
    line-height: 45px;
    margin: 0 30px;
}

.sk-list li a {
    font-size: 16px;
    color: #000;
    font-weight: 700;
}

.sk-list li a:hover {
    color: red;
}

.sk-con li {
    float: left;
}

.sk-con li {
    float: left;
    line-height: 45px;
    margin: 0 20px;
}

.sk-con li a {
    font-size: 14px;
    font-weight: 700;
}

.sk-bd {
    margin-top: 25px;
}

.sk-bd ul {
    width: 1212px;
}

.sk_goods {
    float: left;
    width: 288px;
    height: 458px;
    border: 1px solid transparent;
    margin: 0 12px 15px 0;
}

.sk_goods:hover {
    border: 1px solid #e12228;
}

.sk_goods-title {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    padding: 10px 10px 15px;
}

.sk_goods-price {
    padding: 0 10px;
}

.sk_goods-price em {
    font-size: 22px;
    color: #e60012;
}

.sk_goods-price del {
    font-size: 14px;
    font-weight: 700;
    color: #a4a4a4;
}

.sk_goods-progress {
    padding: 0 10px;
}

.bar {
    display: inline-block;
    width: 130px;
    height: 10px;
    border: 1px solid #b1191a;
    vertical-align: middle;
    margin-right: 0 5px;
    border-radius: 5px;
}

.bar-in {
    width: 87%;
    height: 10px;
    background-color: #f24349;
}

.sk_goods-buy {
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    background-color: pink;
    color: #fff;
}

.page {
    margin: 40px 0;
    text-align: center;
}

.page-num a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}

.page-num .pn-prev,
.page-num .pn-next {
    width: 83px;
}

.page-num .dotted,
.page-num .cur {
    border: 1px solid transparent;
    background-color: transparent;
}